.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 22px;
  box-shadow: $box-shadow-primary;
  position: relative;
  margin: 20px 15px;
  transition: all 0.3s ease-in-out;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    box-shadow: $box-shadow-purple-2;
    cursor: pointer;
  }
}


 
.image {
  padding-bottom: 30px;
  transition: all 0.3s ease-in-out;

  &:hover {
    animation: zoominoutsinglefeatured 1s infinite;
  }
}

.button-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-top: 20px;
}
.description {
  line-height: 2;
  padding-bottom: 20px;

  h6 {
    font-weight: 600;
  }
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}
