@import "./config/reset";
@import "./config/variables";
@import "./config/typography";
@import "./config/globals";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
  color: $gray-dark;
}

h1,
h2,
h3,
h4 {
  margin: 20px 0;
  font-family: $secondary-font;
}

h5,
h6,
p {
  margin: 10px 0;
  font-family: $main-font;
}
