// creating a design system
$white: #fff;
$gray-primary: #2c2c2c;
$gray-secondary: #999999;
$gray-tertiary: #d6d6d6;
$purple-primary: #6f64f8;
$purple-secondary: #7e72f2;
$star: #ffa84c;

$opacity-primary: rgba(19, 129, 215, 0.12);

// box shadows
$box-shadow-primary: 0px 2px 8px rgba(0, 0, 0, 0.135216);
$box-shadow-purple: 0px 2px 8px rgba(29, 26, 206, 0.939);

//width
$max-width: 1200px;
$max-width-over-page: 1440px;

$xsmall-and-up: "screen and (min-width : 480px)";
$small-and-up: "screen and (min-width : 576px)";
$tablet-and-up: "screen and (min-width: 768px)";
$large-and-up: "screen and (min-width : 992px)";
$ultra-and-up: "screen and (min-width : 1400px)";

$main-font: "Montserrat", sans-serif;
$secondary-font: "Poppins", sans-serif;
$quote-font: "Georgia";

$border-radius-lg: 21px;
$border-radius-sm: 10px;

$font-size-mega: 90px;
$font-size-v-large: 72px;
$font-size-xlarge: 64px;
$font-size-sx-large: 52px;
$font-size-large: 46px;
$font-size-s-large: 40px;
$font-size-big: 36px;
$font-size-xmedium: 34px;
$font-size-medium: 32px;
$font-size-xregular: 28px;
$font-size-regular: 24px;
$font-size-normal: 22px;
$font-size-normal-xlg: 20px;
$font-size-normal-lg: 18px;
$font-size-normal-md: 16px;
$font-size-normal-sm: 14px;
$font-size-small: 12px;

$font-weight-mega: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-semibold-lighter: 500;
$font-weight-normal: 400;
$font-weight-thin: 300;

$line-height-mega: 1.5;
$line-height-large-mega: 1.44;
$line-height-large: 1.3;
$line-height-large-medium: 1.25;
$line-height-big: 1.2;
$line-height-medium: 1.18;
$line-height: 1.15;
$line-height-small: 1.1;

// letter spacing
$letter-spacing: -1.5px;
$letter-spacing-small: -1px;
$letter-spacing-xsmall: -0.5px;
$letter-spacing-tiny: -0.25px;
$letter-spacing-wide: 2px;
$letter-spacing-wider: 3px;

/* gradients */
$gradient-primary: radial-gradient(
    circle at 103% 92%,
    #004e66,
    rgba(0, 78, 102, 0) 26%
  ),
  radial-gradient(circle at 0 14%, #1ad6f5, rgba(26, 214, 245, 0) 50%),
  linear-gradient(to bottom, #1381d7, #1167ab);
$gradient-secondary: linear-gradient(
  110deg,
  #1a4877,
  #1b0d30 80%,
  #1b0624 100%
);
